*
!*/
!*.*
*.db
*.js
nimcache
tools/ormin_importer
tests/forum_model_sqlite.nim
tests/forum_model_postgres.nim
tests/model_postgre.nim
tests/model_sqlite.nim
tests/tfeature
tests/tcommon
tests/tpostgre
tests/tsqlite
examples/chat/chat_model.nim
examples/chat/chatclient.nim
examples/chat/createdb
examples/chat/server
examples/forum/forum_model.nim
examples/forum/forumclient.nim
examples/forum/forum
examples/forum/forumproto
examples/tweeter/src/createdatabase
examples/tweeter/src/tweeterdeps/
deps/
nim.cfg
.nimcache
tests/tdb_utils
